[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = https://github.com/opencv/opencv.git
[submodule "3rdparty/opencv_contrib-4.x"]
	path = 3rdparty/opencv_contrib-4.x
	url = https://github.com/opencv/opencv_contrib.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = git@github.com:nlohmann/json.git
[submodule "3rdparty/rknpu2"]
	path = 3rdparty/rknpu2
	url = https://github.com/rockchip-linux/rknpu2.git
[submodule "3rdparty/ffmpeg-rockchip"]
	path = 3rdparty/ffmpeg-rockchip
	url = https://github.com/nyanmisaka/ffmpeg-rockchip.git
[submodule "3rdparty/mpp"]
	path = 3rdparty/mpp
	url = https://github.com/HermanChen/mpp.git
[submodule "3rdparty/rga"]
	path = 3rdparty/rga
	url = https://github.com/airockchip/librga.git
